/* fltbubble */


/* 2021 Dmitry Chigiryov (Dm1) */

body {
    color: #f1f1f1;
    background-color: #232323;
}

a:link,
a:active,
a:visited {
    color: #dcf8fd;
}

a:hover {
    color: #8beeff;
}

#panel-top,
#panel-top button {
    background-color: #020202;
}

.message-body {
    background-color: #5f5f5f;
}

.message-date {
    color: #bbbbbb;
}

.message-time {
    color: #f1f1f1;
}

.message-body,
.message-body .message-file,
.message-body .message-url {
    color: #f1f1f1;
}

.message-out .message-body {
    background-color: #005f00;
}

.message-out .message-body:after {
    border-color: transparent #005f00;
}

.message-in .message-body {
    background-color: #005f88;
}

.message-in .message-body:after {
    border-color: transparent #005f88;
}